
    body {
      background: linear-gradient(to bottom right, #d6f3ff, #ffe0f5);
      font-family: sans-serif;
      text-align: center;
      padding: 40px;
    }

   .card {
  background: white;
  max-width: 500px;
  width: 90%;
  margin: auto;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(100, 180, 255, 0.4);
}

    h1 {
      color: #6bbcff;
      font-size: 45px;
    }

    h2 {
      color: #ff8ecf;
    }

    p {
      font-size: 18px;
      line-height: 1.8;
    }

    .shizuku-img {
      width: 220px;
      border-radius: 20px;
      border: 5px solid #aee6ff;
      box-shadow: 0 0 20px #bdefff;
      margin-bottom: 20px;
    }

    .favorite {
      background: #f4fbff;
      padding: 15px;
      border-radius: 15px;
      margin-top: 20px;
    }

    .music {
      background: #fff0f8;
      padding: 15px;
      border-radius: 15px;
      margin-top: 20px;
    }

    a {
      text-decoration: none;
      color: white;
      background: #6bbcff;
      padding: 12px 25px;
      border-radius: 15px;
      display: inline-block;
      margin-top: 25px;
      transition: 0.3s;
    }

    a:hover {
      background: #8cd0ff;
      transform: scale(1.05);
    }
